# IDE
.idea/
.vscode

# Docker
.gitignore
.dockerignore
Dockerfile
package-docker.json

# Cisco Shipped
.drone.sec
.drone.yml

# Build & node artefacts 
Makefile
# REDUNDANT: automatically removed by npm
node_modules/
npm-debug.log

# Documentation & Samples
docs/
examples/



